# CocoaPods
Pods/
Podfile.lock

# macOS
.DS_Store

# Xcode
build/
DerivedData/
xcuserdata/
*.xcworkspace
*.xcworkspace/xcuserdata/
*.xcodeproj/project.xcworkspace/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcuserdatad/

# Xcode workspace state
*.xcworkspace/contents.xcworkspacedata